<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>255425572188-n7nvtd35sf60mbh6raf8jp1u1tfnussj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.255425572188-n7nvtd35sf60mbh6raf8jp1u1tfnussj</string>
	<key>API_KEY</key>
	<string>AIzaSyBKzRy5CVameHJ8OG976abbwBPy74M6i6M</string>
	<key>GCM_SENDER_ID</key>
	<string>255425572188</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hintekk.nexus</string>
	<key>PROJECT_ID</key>
	<string>nexusbot-5edeb</string>
	<key>STORAGE_BUCKET</key>
	<string>nexusbot-5edeb.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:255425572188:ios:9b9958655237037de76599</string>
</dict>
</plist>
